@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: #0f172a;
}

@layer base {
  h1 {
    @apply text-xl text-white;
  }
  p {
    @apply text-white;
  }
}

@layer components {
  button {
    @apply border border-divider rounded-lg px-5 py-4;
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .fill-button {
    @apply text-darkGray bg-white;
  }
  .outline-button {
    @apply bg-transparent text-white;
  }
}
